@page
@using XeniaWebServices;
@model EditFileModel
@{
    ViewData["Title"] = "Edit File";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="form-group">
        <label for="titleId">Title ID:</label>
        <input type="text" class="form-control" id="titleId" name="titleId" asp-for="TitleId">
    </div>
    <div class="form-group">
        <label for="fileType">File Type:</label>
        <input type="text" class="form-control" id="fileType" name="fileType" asp-for="FileType">
    </div>
    <button type="submit" class="btn btn-primary">Edit File</button>
</form>
